@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }
/* Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }
/* Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }

html, body {
  margin: 0;
  padding: 0;
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  font-size: 15px; }

body {
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
}

.containerL {
  width: 50%;
  height: 100%;
  background-color: #1E65F7;
  float: left;
  position: fixed;
  display: inline-block;
  min-height: 490px;
}

.containerR {
  width: 45%;
  height: 900px;
  background-color: #FFF;
  float: right;
  display: inline-block;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .containerL {
    display: block;
    position: relative;
    width: 100%;
  }
  .containerR {
    display: block;
    position: relative;
    width: 100%;
  }
}

.award {
  position: relative;
  top: 20px;
}

.award a:hover {
  opacity: .8;
}

.info-main {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  text-align: center;
}

@media (max-width: 768px) {
  .info-main{
    width: 100%;
    top: 0;
    transform: translateY(0);
  }
}

.info-headshot, .info-headshot-img {
  margin: auto;
  width: 170px;
  height: 170px;
  border-radius: 200px;
  box-shadow: 0 5px 10px #0A4DD9;
}

.info-tag {
  margin: 30px auto auto auto;
  opacity: .6;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.info-elevator-text {
  margin: 10px auto auto auto;
  padding: 0 20px;
  color: white;
  text-align: center;
  font-size: 28px;
  max-width: 460px;
}

@media (max-width: 420px) {
  .info-elevator-text {
    font-size: 22px;
  }
}

.info-elevator-link {
  padding: 0 4px 2px 4px;
  color: white;
  border-bottom: 2px solid #A3C0FC;
  text-decoration: none;
  word-wrap: break-word;
}

.info-elevator-link:hover {
  background-color: #0A4DD9;
  border-color: #A3C0FC
}

.info-button-dark {
  color: white;
  background-color: #1560FB;
  width: 200px;
  padding: 11px 24px;
  position: relative;
  margin: 40px auto auto auto;
  display: inline-block;
  border: 2px solid white;
  border-radius: 3px;
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  text-align: left;
}

.info-button-dark::after {
  float: right;
  content: "\f061";
  font-family: "FontAwesome";
}

.info-button-dark:hover, .info-button-dark:hover::after {
  color: #1560FB;
  background-color: white;
}

@media (max-width: 768px) {
  .info-button-dark {
    margin: 30px auto auto auto;
  }
}

.info-footer-kitchener {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 27px;
}

.info-footer-kitchener-img {
  float: left;
}

.info-footer-kitchener-text {
  float: left;
  margin: 0 0 0 10px;
  padding-top: 7px;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

.info-footer-kitchener-text:hover {
opacity: 1;
}

.info-footer-social {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 27px;
}

.info-footer-social a:hover {
  opacity: 0.6;
}

.info-footer-social a{
  margin-left: 10px;
  padding-top: 4px;
  color: white;
  text-decoration: none;
  float: right;
  height: inherit;
  bottom: inherit;
}

.main-container, .containerR-about, .main-container-projects, .main-container-clients, .main-container-experience, .main-container-resume {
  display: block;
  clear: both;
  margin: 40px 0 0 0;
  overflow: auto;
}

.main-tag {
  color: #1560FB;
  margin: 20px 0 20px 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-copy {
  line-height: 26px;
}

p {
  margin: 0;
  color: #313131;
  font-weight: 400;
  word-wrap: break-word;
}

.main-list {
  clear: both;
  padding: 0;
  list-style-type: none;
}

.main-list-item {
  margin-bottom: 10px;
  font-weight: 700;
}

.main-list-item::before {
  position: relative;
  bottom: 0.2ex;
  margin-right: 20px;
  content: "\f105";
  font-family: "FontAwesome";
  color: #1560FB;
}

.main-project-first {
  margin-bottom: 20px;
  width: 75%;
}

.main-project-title {
  margin: 20px 0 10px 0;
}

.main-project-title:first-child {
  margin-top: 3px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #313131;
  text-decoration: none;
}

.main-project-title::after, .main-resume::after {
  position: relative;
  bottom: .2ex;
  margin-left: 20px;
  content: "\f061";
  font-family: "FontAwesome";
  color: #1560FB;
  font-size: 12px;
}

.main-project-description {
  margin: 0;
  line-height: 26px;
}

.main-project {
  margin-bottom: 20px;
  width: 75%;
}

.main-experience  {
  margin-bottom: 20px;
  height: 40px;
}

.main-experience-info {
  float: left;
}

.main-experience-info-company {
  display: block;
  font-weight: 700;
  line-height: 26px;
}

.main-experience-year {
  float: right;
  font-weight: 700;
  line-height: 26px;
}

.main-container-resume {
  margin-bottom: 40px;
}

.main-project-title:hover, .main-resume:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .containerR {
    display: block;
    padding: 20px;
    width: 100%;
    margin-left: 30px;
  }
  .containerR-about, .main-container-projects, .main-container-resume, .main-container-clients, .main-container-experience {
    margin-left: 40px;
  }
}
